<div class="container alert alert-light">

  <h1 class="mt-4"><%= @category.title %></h1>
  <div>
    <%= @category.title %>
  </div>
  <hr>

  <p>
    <%= @category.description %>
  </p>


  <%#= link_to 'Back', admin_product_path, class:"btn btn-secondary"%>

</div>

