<div class="first_child">
  <a class="nav-link"><%= link_to 'Admin Product', admin_products_path%></a>
  <a class="nav-link"><%= link_to 'Admin Category', admin_categories_path%></a>
  <a class="nav-link"><%= link_to 'Home', product_index_path%></a>
</div>