<div class="">
  <a class="nav-link"><%= link_to "#{t('products.index.admin_p')}", admin_products_path%></a>
  <a class="nav-link"><%= link_to "#{t('products.index.admin_c')}", admin_categories_path%></a>
  <a class="nav-link"><%= link_to "#{t('products.index.admin_o')}", admin_orders_path%></a>
  <a class="nav-link"><%= link_to "#{t('products.index.home')}", product_index_path%></a>
</div>