<div class="container">
 <h3 align="center">Доставка</h3>
  Замовляючи доставку товару сторонніми кур’єрськими службами (Нова пошта, Міст Експрес) – під час отримання обов’язково перевіряйте наявність усього товару в замовленні, а так само його зовнішній вигляд.
  У разі пошкодження товару або неповної комплектації замовлення – необхідно відмовитися від отримання товару і його оплати, а так само скласти акт (претензію). У разі якщо ця ситуація відбудеться – обов’язково повідомте нам про те, що трапилося, за тел.: (044) 537–02–22, (044) 503–80–80


  Через напружену ситуацію в східному регіоні тимчасово припинено доставку товарів у м. Донецьк та м. Луганськ.
  Водночас сильно обмежена й затримується доставка на Луганщині й Донбасі.

  Пневматична зброя, зброя під патрон Флобера й аксесуари до неї, а також ножі, мультитули, туристичні газові балони й картриджі на цей момент не доставляються до Донецької та Луганської областей.
  Продавець гарантує упаковки замовленого товару, яке забезпечить цілісність і збереження його товарного вигляду.

</div>