<footer class="page-footer bg-success">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <%= link_to "About", product_about_path %>
  </div>
  <!-- Copyright -->

</footer>