<footer class="page-footer bg-success">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020:
    <%= link_to "#{t('products.index.delivery')}", product_about_path %>
  </div>
  <!-- Copyright -->

</footer>